venv/
*.log
__pycache__/
*.pyc
*.pyo
db.sqlite3
n_cookies.txt
AIBuddy/frontend/static/frontend/main.js
AIBuddy/frontend/static/frontend/main.js.LICENSE.txt
.env
node_modules/
build/
dist/
.vscode/
.idea/
*.sublime-workspace
all-MiniLM-L6-v2/
all-mpnet-base-v2/
dist/
venv_cpy/
venv_lm/
