backports.tarfile==1.2.0
django-cors-headers==4.7.0
djangorestframework-simplejwt==5.5.1
faiss-cpu==1.12.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
langchain-community==0.3.27
langchain-huggingface==0.3.1
ollama==0.5.3
pip-chill==1.0.3
platformdirs==4.2.2
sentence-transformers==5.1.0
tika==3.1.0
tomli==2.0.1
youtube-transcript-api==1.2.2
